# Adapted from: https://github.com/Legion2/open-cue-service/blob/main/.github/workflows/pages.yml
name: Deploy Swagger UI to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  generate-openapi-spec:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup config
        run: cp sample_config.ini config.ini

      # source: https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Generate OpenAPI spec
        run: |
          python docgen.py
      - name: Upload OpenAPI spec
        uses: actions/upload-artifact@v4
        with:
          name: spec-file
          path: swagger.yaml

  deploy:
    needs: generate-openapi-spec
    runs-on: ubuntu-latest
    steps:
      - name: Download openapi.json
        uses: actions/download-artifact@v4
        with:
          name: spec-file
      - name: Generate Swagger UI
        uses: Legion2/swagger-ui-action@v1
        with:
          output: swagger-ui
          spec-file: swagger.yaml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: swagger-ui
